#!/bin/bash

# SMTP settings
# The username to the used SMTP server
export CB_SMTP_SENDER_USERNAME=

# The password to the used SMTP server
export CB_SMTP_SENDER_PASSWORD=

# THe SMTP server host
export CB_SMTP_SENDER_HOST=

# THe SMTP server port
export CB_SMTP_SENDER_PORT=

# The value of the from field in emails sent by the system (registration, password reset ...)
export CB_SMTP_SENDER_FROM=

# AWS related (optional) settings - not setting them causes AWS related operations to fail
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_KEY=